.site-footer {
    padding: 10px 0;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include gradientBG($footer-bg);

    > .container {
        > .container-content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            > .developer-info {
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 5px;
                color: silver;

                > a {
                    color: silver;
                    transition: $transition;

                    &:hover {
                        color: white;
                    }
                }
            }

        }
    }
}
