.site-main {
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    min-height: calc(100% - 150px);

    > .container {

        > .container-content {

            > .navigation {
                display: flex;
                gap: 20px;

                > a {
                    height: 50px;
                    padding: 0 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: black;
                    border: 1px solid black;
                    border-radius: 5px;

                    &:hover {
                        color: $button-bg;
                        border: 1px solid $button-bg;
                    }
                }
            }

            > .component-login, > .component-user, > .component-users {

                > .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    > h2 {
                        font-weight: 700;
                        padding: 20px 0;
                    }

                    > .button-add {
                        height: 50px;
                        background-color: $button-bg;
                        border-radius: 5px;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 10px;
                        cursor: pointer;

                        &:hover {
                            @include elHover($button-bg);
                        }
                    }

                }

                > .login-form, > .registration-form {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;

                    > .form-block {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 10px;

                        > label {
                            font-size: 22px;
                            font-weight: 500;
                        }

                        > .input {
                            height: 50px;
                            width: 100%;
                            max-width: 320px;
                            border-radius: 5px;
                            overflow: hidden;
                            border: 1px solid silver;

                            > input {
                                height: 100%;
                                width: 100%;
                                border: none;
                                padding: 0 0 0 10px;
                                font-size: 20px;
                            }

                            > input[type=submit] {
                                font-size: 22px;
                                font-weight: 500;
                                background-color: silver;
                                transition: $transition;

                                &:hover {
                                    @include elHover(silver);
                                    color: white;
                                }
                            }
                        }
                    }

                    > .form-block-checkbox {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;

                        > .input {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            > input[type=checkbox] {
                                display: flex;
                                height: 25px;
                                width: 25px;

                                appearance: auto;
                            }
                        }

                        > label {
                            font-size: 18px;
                            font-weight: 400;
                            border-bottom: 1px solid white;
                            transition: $transition;

                            &:hover {
                                border-bottom: 1px solid silver;
                            }
                        }
                    }
                }

                > label {
                    display: flex;
                    max-width: max-content;
                    margin: 20px auto 0;
                    justify-content: center;
                    border-bottom: 1px solid white;
                    transition: $transition;

                    &:hover {
                        border-bottom: 1px solid silver;
                    }
                }

                > .users-list, > .user-payments-list {
                    background-color: white;
                    box-shadow: $component-shadow;
                    border-radius: 5px;

                    > .nav {
                        display: flex;
                        height: 50px;
                        border-top: 1px solid silver;
                        cursor: pointer;

                        &:hover {
                            @include elHover($body-bg);
                        }

                        > .number {
                            height: 100%;
                            width: 100%;
                            max-width: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                        }

                        > .name {
                            height: 100%;
                            width: 100%;
                            max-width: 300px;
                            display: flex;
                            align-items: center;
                        }

                        > .email {
                            height: 100%;
                            width: 100%;
                            max-width: 300px;
                            display: flex;
                            align-items: center;
                        }

                        > .role {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            flex-grow: 1;
                            line-height: 100%;
                        }

                        > .payment_number {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            flex-grow: 1;
                        }

                        > .text-small {
                            font-size: 0.9rem;
                        }

                        > .total {
                            height: 100%;
                            width: 100%;
                            max-width: 150px;
                            display: flex;
                            align-items: center;
                        }

                        > .status {
                            height: 100%;
                            width: 100%;
                            max-width: 300px;
                            display: flex;
                            align-items: center;
                        }

                        > .created-at, > .updated-at {
                            height: 100%;
                            width: 100%;
                            max-width: 150px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            overflow: hidden;
                        }

                        > .buttons {
                            height: 100%;
                            width: 100%;
                            max-width: 150px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;

                            > div {
                                height: 25px;
                                min-width: 25px;
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                                cursor: pointer;

                                &:hover {
                                    transform: scale(1.2);
                                }
                            }

                            > .icon-save {
                                background-image: url("../images/icons/floppy-disk-regular.svg");
                            }

                            > .icon-delete {
                                background-image: url("../images/icons/trash-can-regular.svg");
                            }
                            > .icon-eye {
                                background-image: url("../images/icons/eye-regular.svg");
                            }
                        }
                    }

                    > .nav-title {
                        border-top: none;
                        cursor: unset;

                        &:hover {
                            background-color: white;
                        }

                        > .number, > .name, > .email, > .role {
                            font-weight: 600;
                        }
                                            }
                }

                > .user-new, > .user-update, > .user-payment-new, > .user-payment-update {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    background-color: white;
                    box-shadow: $component-shadow;
                    border-radius: 5px;
                    padding: 50px;

                    > .user-option {
                        display: flex;
                        align-items: center;

                        > .text {
                            width: 30%;
                            display: flex;

                            > span {
                                color: red;
                            }

                        }

                        > .input {
                            height: 50px;
                            overflow: hidden;
                            flex-grow: 1;
                            display: flex;
                            align-items: center;

                            > input[type=text], > input[type=password] {
                                height: 100%;
                                padding: 0 0 0 20px;
                                outline: none;
                                width: 100%;
                                border: 1px solid silver;
                                border-radius: 5px;
                            }

                            > select {
                                height: 100%;
                                padding: 0 0 0 20px;
                                outline: none;
                                width: 100%;
                                border: 1px solid silver;
                                border-radius: 5px;
                            }
                        }
                    }

                    > .user-button {
                        display: flex;
                        justify-content: flex-end;

                        > div {
                            height: 50px;
                            background-color: $button-bg;
                            border-radius: 5px;
                            color: white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0 10px;
                            cursor: pointer;

                            &:hover {
                                @include elHover($button-bg);
                            }
                        }
                    }

                }
            }

            > .component-user-roles {

                > .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    > h2 {
                        font-weight: 700;
                        padding: 20px 0;
                    }

                    > .button-add {
                        height: 50px;
                        background-color: $button-bg;
                        border-radius: 5px;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 10px;
                        cursor: pointer;

                        &:hover {
                            @include elHover($button-bg);
                        }
                    }

                }

                > .roles-list {
                    background-color: white;
                    box-shadow: $component-shadow;
                    border-radius: 5px;

                    > .nav {
                        display: flex;
                        height: 50px;
                        border-top: 1px solid silver;
                        cursor: pointer;

                        &:hover {
                            @include elHover($body-bg);
                        }

                        > .number {
                            height: 100%;
                            width: 100%;
                            max-width: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                        }

                        > .name {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            flex-grow: 1;
                        }

                        > .default {
                            height: 100%;
                            width: 100%;
                            max-width: 150px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            > .default-checkbox {
                                height: 25px;
                                width: 25px;
                                min-width: 25px;
                                border-radius: 5px;
                                border: 1px solid silver;

                                &:hover {
                                    background-color: $button-bg;
                                }
                            }

                            > .checked {
                                background-size: 75%;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-image: url("../images/icons/icons8-done.svg");

                                &:hover {
                                    @include elHover($body-bg);
                                    background-size: 95%;
                                }
                            }
                        }

                        > .rules {
                            height: 100%;
                            width: 100%;
                            max-width: 300px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            > .rule-checkbox {
                                height: 25px;
                                width: 25px;
                                min-width: 25px;
                                border-radius: 5px;
                                border: 1px solid silver;

                                &:hover {
                                    background-color: $button-bg;
                                }
                            }

                            > .checked {
                                background-size: 75%;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-image: url("../images/icons/icons8-done.svg");

                                &:hover {
                                    @include elHover($body-bg);
                                    background-size: 95%;
                                }
                            }
                        }

                        > .buttons {
                            height: 100%;
                            width: 100%;
                            max-width: 150px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;

                            > div {
                                height: 25px;
                                min-width: 25px;
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                                cursor: pointer;

                                &:hover {
                                    transform: scale(1.2);
                                }
                            }

                            > .icon-save {
                                background-image: url("../images/icons/floppy-disk-regular.svg");
                            }

                            > .icon-delete {
                                background-image: url("../images/icons/trash-can-regular.svg");
                            }
                            > .icon-eye {
                                background-image: url("../images/icons/eye-regular.svg");
                            }
                        }
                    }

                    > .nav-title {
                        border-top: none;
                        cursor: unset;

                        &:hover {
                            background-color: white;
                        }

                        > .number {
                            font-weight: 600;
                        }

                        > .name {
                            font-weight: 600;
                        }
                        > .default {
                            font-weight: 600;
                        }
                        > .rules {
                            > .rule-title {
                                font-weight: 600;
                            }
                        }
                    }
                }

                > .roles-new, > .roles-update {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    background-color: white;
                    box-shadow: $component-shadow;
                    border-radius: 5px;
                    padding: 50px;

                    > .role-option {
                        display: flex;
                        align-items: center;

                        > .text {
                            width: 30%;
                            display: flex;

                            > span {
                                color: red;
                            }

                        }

                        > .input {
                            height: 50px;
                            overflow: hidden;
                            flex-grow: 1;
                            display: flex;
                            align-items: center;

                            > input[type=text] {
                                height: 100%;
                                padding: 0 0 0 20px;
                                outline: none;
                                width: 100%;
                                border: 1px solid silver;
                                border-radius: 5px;

                            }

                            > input[type=checkbox] {
                                height: 100%;
                                padding: 0 0 0 20px;
                                outline: none;
                                border: none;
                                width: 100%;
                            }

                            > input[type=checkbox] {
                                height: 25px;
                                width: 25px;
                                min-width: 25px;
                                border-radius: 5px;
                                border: 1px solid silver;
                                outline: none;

                                &:hover {
                                    background-color: $button-bg;
                                }
                            }

                            > .checked {
                                background-size: 75%;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-image: url("../images/icons/icons8-done.svg");

                                &:hover {
                                    @include elHover($body-bg);
                                    background-size: 95%;
                                }
                            }
                        }

                    }

                    > .role-button {
                        display: flex;
                        justify-content: flex-end;

                        > div {
                            height: 50px;
                            background-color: $button-bg;
                            border-radius: 5px;
                            color: white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0 10px;
                            cursor: pointer;

                            &:hover {
                                @include elHover($button-bg);
                            }
                        }
                    }

                }
            }

            > .component-payments {

                > .title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    > h2 {
                        font-weight: 700;
                        padding: 20px 0;
                    }

                    > .button-add {
                        height: 50px;
                        background-color: $button-bg;
                        border-radius: 5px;
                        color: white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 10px;
                        cursor: pointer;

                        &:hover {
                            @include elHover($button-bg);
                        }
                    }

                }

                > .users-list, > .user-payments-list {
                    background-color: white;
                    box-shadow: $component-shadow;
                    border-radius: 5px;

                    > .nav {
                        display: flex;
                        height: 50px;
                        border-top: 1px solid silver;
                        cursor: pointer;

                        &:hover {
                            @include elHover($body-bg);
                        }

                        > .number {
                            height: 100%;
                            width: 100%;
                            max-width: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                        }

                        > .name {
                            height: 100%;
                            width: 100%;
                            max-width: 300px;
                            display: flex;
                            align-items: center;
                        }

                        > .email {
                            height: 100%;
                            width: 100%;
                            max-width: 300px;
                            display: flex;
                            align-items: center;
                        }

                        > .role {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            flex-grow: 1;
                            line-height: 100%;
                        }

                        > .payment_number {
                            height: 100%;
                            display: flex;
                            align-items: center;
                            flex-grow: 1;
                        }

                        > .text-small {
                            font-size: 0.9rem;
                        }

                        > .total {
                            height: 100%;
                            width: 100%;
                            max-width: 150px;
                            display: flex;
                            align-items: center;
                        }

                        > .status {
                            height: 100%;
                            width: 100%;
                            max-width: 300px;
                            display: flex;
                            align-items: center;
                        }

                        > .created-at, > .updated-at {
                            height: 100%;
                            width: 100%;
                            max-width: 150px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            overflow: hidden;
                        }

                        > .buttons {
                            height: 100%;
                            width: 100%;
                            max-width: 150px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;

                            > div {
                                height: 25px;
                                min-width: 25px;
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                                cursor: pointer;

                                &:hover {
                                    transform: scale(1.2);
                                }
                            }

                            > .icon-save {
                                background-image: url("../images/icons/floppy-disk-regular.svg");
                            }

                            > .icon-delete {
                                background-image: url("../images/icons/trash-can-regular.svg");
                            }
                            > .icon-eye {
                                background-image: url("../images/icons/eye-regular.svg");
                            }
                        }
                    }

                    > .nav-title {
                        border-top: none;
                        cursor: unset;

                        &:hover {
                            background-color: white;
                        }

                        > .number, > .name, > .email, > .role {
                            font-weight: 600;
                        }
                    }
                }

                > .user-new, > .user-update, > .user-payment-new, > .user-payment-update {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    background-color: white;
                    box-shadow: $component-shadow;
                    border-radius: 5px;
                    padding: 50px;

                    > .user-option {
                        display: flex;
                        align-items: center;

                        > .text {
                            width: 30%;
                            display: flex;

                            > span {
                                color: red;
                            }

                        }

                        > .input {
                            height: 50px;
                            overflow: hidden;
                            flex-grow: 1;
                            display: flex;
                            align-items: center;

                            > input[type=text], > input[type=password] {
                                height: 100%;
                                padding: 0 0 0 20px;
                                outline: none;
                                width: 100%;
                                border: 1px solid silver;
                                border-radius: 5px;
                            }

                            > select {
                                height: 100%;
                                padding: 0 0 0 20px;
                                outline: none;
                                width: 100%;
                                border: 1px solid silver;
                                border-radius: 5px;
                            }
                        }
                    }

                    > .user-button {
                        display: flex;
                        justify-content: flex-end;

                        > div {
                            height: 50px;
                            background-color: $button-bg;
                            border-radius: 5px;
                            color: white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0 10px;
                            cursor: pointer;

                            &:hover {
                                @include elHover($button-bg);
                            }
                        }
                    }

                }
            }
        }
    }
}
